.form {
    display: flex;
    flex-direction: column;
}

.create {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 5%;
}

.form {
    display: flex;
    flex-direction: column;
}

.h1.AnnouncementTitle{
    color: #007bff;
    background-color: blueviolet;
}