

 .create {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 5%;
}

.form {
    display: flex;
    flex-direction: column;
}

.MakeAnnouncementTitle{
    color: #004AAC;
    padding-left: 50px;
    padding-top: 40px;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none !important;
    font-size: 30px;
}

.AnnouncementTitle{
    color: #004AAC;
    padding-left: 50px;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none !important;
    font-size: 40px;
}

.formLabel {
    color: #004AAC;
    padding-top: 40px;
    padding-bottom: 0px;

    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none !important;
}

.submitButton{
    background-color: #004AAC;
    color:white;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none !important;
    font-size: 20px;
    border-radius: 1em;
    margin-top: 10px;
}


.contentBox{
    border-radius: 1em;
}

.create{
   padding-top: 0px;
}