

 .create {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 5%;
}

.form {
    display: flex;
    flex-direction: column;
}

.MakeAnnouncementBlock{
    margin: 50px;
    border-style: solid;
    border-radius: 46px;
    border-color: #004AAC;
    background-color: #FFFCEF;
    box-shadow: -10px 10px 5px #F3D352;
}

.MakeAnnouncementTitle{
    text-align: center;
    color: #004AAC;
    padding-left: 50px;
    padding-top: 40px;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none !important;
    font-size: 48px;
}

.AnnouncementTitle{
    color: #004AAC;
    padding-left: 50px;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none !important;
    font-size: 72px;
}

.formLabel {
    color: #004AAC;
    padding-top: 40px;
    padding-bottom: 0px;
    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none !important;
}

.submitButton{
    background-color: #004AAC;
    color:white;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none !important;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 46px;
}

.submitButton:focus{
    outline: none;
}


.contentBox{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: #64aeff;
    padding: 20px;
    padding-top:10px;
    border-radius: 46px;
}

.contentBox:focus{
    outline: none;
}

.create{
   padding-top: 0px;
}

.Announcement{
    margin: 50px;
    border-style: solid;
    border-radius: 46px;
    border-color: #004AAC;
    background-color: #FFFCEF;
    padding-left: 30px;
}